/* ------------ ----- ----- anime information ------------- ----  -- --  ---------------------- --*/
.anime_descrebtion_contener{
    width: 100%;
    height: auto;
    display: flex;
}
.anime_descrebton_img{
    width: 300px;
    height: 300px;
    text-align: center;
}
.anime_descrebton_img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.anime_information{
    width: 80%;
    height: auto;
    padding: 10px;
}
.anime_information h2{
    padding: 7px;
}
.anime_information p{
    padding:7px;
}
.anime_information h4{
    padding: 5px 7px;
}

.anime_Personalitie_img{
    cursor: pointer;
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 10px 10px 0 #000000bd ;
}
.anime_Personalitie_img img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.anime_episodes{
    cursor: pointer;
    width: 180px;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 #000000bd ;
    position: relative;
}
.anime_episodes img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.anime_woch_contener{
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
}
.server_woch_contener{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.server_woch_contener div{
    cursor: pointer;
    width: 150px;
    height: 60px;
    margin: 5px;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
    background-color: #0000008a;
    color: white;
}
.server_woch_contener div:hover{
    background-color: white;
    color: black;
}
.ifram_contener{
    width: auto;
    height: auto;
    background-color: #0000008a;
}
.ifram_contener iframe{
    width: 90%;
    height: 450px;
    border-radius: 5px;
    margin: auto;
}


.login_contener{
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.login_contener div{
    width: 80%;
    padding: 5px 0;
    margin: auto;
    font-size: 25px;
}
.login_contener div input{
    width: 80%;
    height: 60px;
    text-align: center;
    outline: none;
    border: 0px;
    border-radius: 10px;
}
.login_contener div input:hover{
    transition: 1s;
    width:90% ;
}
.login_contener div button{
    width: 60%;
    height: 50px;
    border: 0px;
    border-radius: 30px;
    background-color: #00000065;
    color: white;
}
.login_contener div button:hover{
    transition: 1s;
    background-color: black;
    width: 65%;
}


@media screen and (min-width:458px) and (max-width:886px) {
    .anime_descrebtion_contener{
        display: block;
    }
    .anime_descrebton_img{
        width: 80%;
        margin: auto;
    }
    .anime_information{
        margin: auto;
    }
    .anime_episodes{
        width: 100px;
        height: 100px;
    }
    .anime_episodes img{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width:458px){
    .anime_descrebtion_contener{
        display: block;
    }
    .anime_descrebton_img{
        width: 100%;
        margin: auto;
    }
    .anime_information{
        width: 100%;
        margin: auto;
    }
    .anime_episodes{
        width: 100px;
        height: 100px;
    }
    .anime_episodes img{
        width: 100px;
        height: 100px;
    }
}